h1{
  background-image:url(./image/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  text-align:center;
  background-size: contain;
  color: white;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}
